<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1"
    />
    <title>Entrega portal</title>
    <link rel="stylesheet" href="../css/index.css" />
    <link
      rel="stylesheet"
      defer
      href="https://cdn.jsdelivr.net/npm/bulma@0.8.2/css/bulma.min.css"
    />
    <script
      defer
      src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"
    ></script>
    <script defer src="mainRenderer.js"></script>
  </head>

  <body>
    <section class="hero is-info">
      <div class="hero-body">
        <div class="container">
          <h1 class="title">
            Entregar ePortal
          </h1>
        </div>
      </div>
    </section>
    <section class="section section-override">
      <div class="container">
        <h2 class="subtitle has-text-centered">
          Realizar copiado de archivos para la entrega de objetos del
          SAO
        </h2>
        <div class="columns is-mobile">
          <div class="column is-three-fifths is-offset-one-fifth">
            <div class="field">
              <label class="label">SAO</label>
              <div class="control">
                <input
                  id="saoNumber"
                  class="input"
                  type="text"
                  placeholder="SAO"
                />
              </div>
            </div>
            <label class="checkbox">
              <input id="processPortal" type="checkbox" />
              ePortal client
            </label>
            <label class="checkbox">
              <input id="processBroadband" type="checkbox" />
              Broadband
            </label>
            <div class="button-group">
              <div class="field is-grouped is-grouped-centered">
                <p class="control">
                  <button id="deliverBtn" class="button is-info">
                    Entregar
                  </button>
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="container">
          <div>
            <span class="is-size-4">Progreso</span>
            <span
              id="iconSuccess"
              class="icon hide-element has-text-success has-text-weight-light"
            >
              <i class="fas fa-check"></i>
            </span>

            <span
              id="iconFail"
              class="icon hide-element has-text-danger has-text-weight-light"
            >
              <i class="fas fa-times"></i>
            </span>
            <progress
              id="progressBar"
              class="progress is-small is-info hide-element"
              max="100"
              >15%</progress
            >
          </div>

          <ul id="progressList" class="progress-container">
            <!-- <li>
              <span class="icon">
                <i
                  class="fas fa-check has-text-primary has-text-weight-light"
                ></i>
              </span>
              <span class="has-text-weight-light">Texto</span>
            </li> -->
          </ul>
        </div>
      </div>
    </section>
  </body>
</html>
